/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
}

::selection {
  color: #fff;
  background: deepskyblue;
}

.wrapper {
  width: 800px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: #f1f5f9;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #3b82f6;
  border: none;
  border-radius: 5px;
  color: #f1f5f9;
}

.tab-button:hover {
  background-color: #2563eb;
}

.tab-content {
  display: none;
  margin-top: 20px;
}

.typing-test {
  display: block;
}

.leaderboard {
  display: none;
}

.leaderboard-list {
  list-style-type: none;
  padding: 0;
}

.leaderboard-list li {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.wrapper .input-field {
  opacity: 0;
  z-index: -999;
  position: absolute;
}

.wrapper .content-box {
  padding: 20px;
  border-radius: 10px;
  background: #475569;
}

.content-box .typing-text {
  overflow: hidden;
  max-height: 256px;
}

.typing-text::-webkit-scrollbar {
  width: 0;
}

.typing-text p {
  font-size: 20px;
  text-align: justify;
  letter-spacing: 1px;
}

.typing-text p span {
  position: relative;
}

.typing-text p span.correct {
  color: lawngreen;
  font-weight: bold;
}

.typing-text p span.incorrect {
  color: #cb3439;
  outline: 1px solid #fff;
  background: #ffc0cb;
  border-radius: 4px;
  font-weight: bold;
}

.typing-text p span.active {
  color: deepskyblue;
}

.typing-text p span.active::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  background: deepskyblue;
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

.content-box .content {
  margin-top: 20px;
  display: flex;
  padding: 12px 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #bfbfbf;
  line-break: auto;
}

.content button {
  outline: none;
  border: none;
  width: 120px;
  color: #fff;
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background: #3b82f6;
  transition: transform 0.3s ease;
}

.content button:active {
  transform: scale(0.97);
}

.content .result-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - 140px);
  justify-content: space-between;
}

.result-details li {
  display: flex;
  height: 20px;
  list-style: none;
  position: relative;
  align-items: center;
}

.result-details li:not(:first-child) {
  padding-left: 22px;
  border-left: 1px solid #bfbfbf;
}

.result-details li p {
  font-size: 18px;
}

.result-details li span {
  display: block;
  font-size: 20px;
  margin-left: 10px;
}

li span b {
  font-weight: 500;
}

li:not(:first-child) span {
  font-weight: 500;
}

.errors span {
  color: #facc15;
}

.timeLeft span {
  color: #cb3439;
}
